PARTNER_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
PLAYER_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/studio/v3 make sure to select "TV Platform Studio"
ENTRY_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/content/entries/list choose entryid of any content
SESSION_SECRET=#Random String, key used for encrypting session cookies