<html>

<head>
    <link rel="stylesheet" href="stylesheets/kaltura-theme.css">
</head>

<body>
    <ul>
        <li><a href="proof-of-concept.ejs">Proof of Concept</a></li>
        <li><a href="video-click.ejs">Clickable Video</a></li>
        <li><a href="twovideo.ejs">Two Video</a></li>
        <li><a href="captions.ejs">Captions</a></li>
        <li><a href="blender-example.ejs">Blender Scene Example</a></li>
    </ul>
</body>

</html>